@media screen and (min-width: 768px) {
    main{
        
    }
}


@media screen and (min-width: 1024px) {
    :root {
        --tile: 15vh;
        --gap: 5vh;
        --translate: 20vh;
    }
        
    main {
        grid-template: repeat(5, var(--tile)) / repeat(5, var(--tile));
        -webkit-perspective-origin: top;
        perspective-origin: top;
    }

    #logo {
        grid-area: 2 / 3 / 3 / 5;
    }

    #nav-button {
        grid-area: 1 / 3 / 2 / 4;
        display: none;
    }

    #proj-1 {
        grid-area: 1 / 1 / 2 / 2;
        background: teal;
    }

    #proj-2 {
        grid-area: 1 / 4 / 2 / 5;
        background: purple;
    }

    #proj-3 {
        grid-area: 3 / 2 / 4 / 3;
        background: magenta;
    }

    #proj-4 {
        grid-area: 3 / 5 / 4 / 6;
        background: yellowgreen;    
    }

    #proj-5 {
        grid-area: 4 / 2 / 5 / 3;
        background: cadetblue;
    }

    #proj-6 {
        grid-area: 4 / 4 / 5 / 5;
        background: goldenrod;
    }

    #proj-7 {
        grid-area: 5 / 3 / 6 / 4;
        background: lightsalmon;
        
    }

    .nav-elements {
        margin: 0;
        padding: 0;
        transform-origin: top;
        transform: rotateX(0deg)
        
    }

    .nav-elements#about-me-button {
        grid-area: 4 / 3 / 5 / 4;

    }

    .nav-elements#contact-form-button {
        grid-area: 2 / 2 / 3 / 3;
    }

    .nav-elements#socials-button {
        grid-area: 5 / 1 / 6 / 2;
    }


    .translate-about-me-button-about {
        transform: translateY(calc(-3*(var(--translate))));    
    }

    .translate-contact-form-button-about {
        transform: translateX(calc(-1*(var(--translate))));    
    }

    .translate-socials-button-about {
        transform: translateX(calc(-1*(var(--translate))));    
    }

    .translate-about-me-button-contact {
        transform: translateY(calc((var(--translate))));    
    }

    .translate-contact-form-button-contact {

    }

    .translate-socials-button-contact {

    }

    .translate-nav-cards {

    }

    .translate-about-me-button-cards {
        transform: translateX(calc(-2*(var(--translate))));    
    }

    .translate-contact-form-button-cards {
        transform: translateX(calc(-1*(var(--translate))));    
    }

    .translate-socials-button-cards {
        transform: translateX(calc(-1*(var(--translate))));    
    }

    .translate-logo-cards {
        transform: translateY(calc(-1*(var(--translate))));    
    }
    /* don't love the important in this block. needs work */
    .translate-nav-about, .translate-nav-contact {
        transform: translateY(0);    
    }

    .translate-proj-1-about, .translate-proj-1-contact, .translate-proj-1-cards  {
        opacity: 1;
        transform: translateY(0);
    }

    .translate-proj-2-about, .translate-proj-2-contact {
        transform: translateY(0);
    }

    .translate-proj-2-cards {
        opacity: 1;
        transform: translateX(calc((var(--translate))));    
    }

    .translate-proj-3-about, .translate-proj-3-contact, .translate-proj-3-cards {
        opacity: 1;
        transform: translateX(calc(-1*(var(--translate))));    
    }

    .translate-proj-4-about, .translate-proj-4-contact, .translate-proj-4-cards {
        opacity: 1;
        transform: translateY(0);
    }

    .translate-proj-5-about, .translate-proj-5-contact, .translate-proj-5-cards {
        opacity: 1;
        transform: translateX(calc(-1*(var(--translate))));
    }

    .translate-proj-5-cards {
        opacity: 1;
        transform: translateY(calc(-3*(var(--translate))));
    }    

    .translate-proj-6-about, .translate-proj-6-contact, .translate-proj-6-cards {
        opacity: 1;
        transform: translateX(calc((var(--translate))));    
    }

    .translate-proj-7-about, .translate-proj-7-cards {
        opacity: 1;
        transform: translateX(calc(2*(var(--translate))));
    }

    .translate-proj-7-contact {
        transform: translateX(calc(var(--translate)));    
    }

    #about-me-div {
        grid-area: 2 / 2 / 6 / 5;
        display: grid;
        grid-template: var(--tile) var(--gap) 75% / var(--tile) 1fr;
    }

    #about-me-header {
        align-self: center;
        grid-area: 2 / 1 / 3 / 2;
    }
    
    #about-me-article {
        grid-area: 3 / 1 / 4/ 3;
        padding: 0;
    }

    #portrait {
        height: calc(1*(var(--tile)));
        /* padding: .8em .4em 0 .4em */
        margin: 0 0 0 .5em;
    }

    #about-me-article p {
        padding-top: 0;
        margin-top: 0;
    }
    
    #contact-form {
        grid-area: 3 / 2 / 5 / 5;
    }

    .project-cards {
        grid-area: 2 / 2 / 6 / 5;
    }
    
}