* {
    border: 1px solid black;
}

main {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow: scroll;
}

main > div {
    scroll-snap-align: center;
}

img {
    object-fit: cover;
}