/* * {
    border: 1px solid black;
} */

main {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow: scroll;
}

main > div {
    scroll-snap-align: center;
}

img {
    object-fit: cover;
    border-radius: 100% !important;
}

.tech-list {
    padding: 0 0.25rem;
    color: grey;
    list-style: none;
}