:root {
    --tile: calc(((90vh)/6))
}

* {
    transition-duration: 400ms;
}

body {
    /* margin: 0 auto;     */
    /* justify-items: center; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    -webkit-perspective: calc(3*(var(--tile)));
    perspective: calc(3*(var(--tile)));
    grid-template: repeat(6, var(--tile)) / repeat(3, var(--tile));
    /* text-align: center; */
    /* padding: 0; */
    
}

#logo {
    display: flex;
    font-size: calc(0.24*(var(--tile)));
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    background-color: none;
    box-shadow: none;
}

#logo-s {
    display: inline-block;
    font-size: calc(0.28*(var(--tile)));
}

main .tiles {
    text-align: center;
    box-shadow: inset 20px 20px 25px  rgba(255,255,255,.3),
                inset -20px -20px 25px  rgba(0,0,0,.2)
                
}

.tiles:active {
    box-shadow: inset 25px 25px 25px  rgba(255,255,255,.2),
                inset -25px -25px 25px  rgba(0,0,0,.1),
                inset 5px 5px 10px  rgba(0,0,0,.5),
                inset -10px -10px 15px  rgba(0,0,0,.2)
    /* box-shadow: inset 25px 25px 25px  rgba(0,0,0,.1),
                inset -25px -25px 25px  rgba(255,255,255,.2) */
}

button {
    background: whitesmoke;
    border: none;
}

#logo {
    grid-area: 2 / 1 / 3 / 3;
}

#nav-button {
    grid-area: 6 / 3 / 7 / 4;
    font-size: calc(0.5*(var(--tile)));
    color: grey;
}

.show-nav-elements {
    transform: rotateX(0deg)
}

.hide-nav-elements {
    transform: rotateX(-135deg)
}

#proj-1 {
    grid-area: 1 / 1 / 2 / 2;
    /* background-image: url("https://res.cloudinary.com/scwd/image/upload/ar_1:1,c_fill,e_art:hokusai,g_auto,h_500,w_500/v1626185960/Portfolio%20Placeholders/al-aqsa-1233827_v1epx1.jpg"); */
    /* background-size: cover; */
    /* background: teal; */
    
}

#proj-2 {
    grid-area: 2 / 3 / 3 / 4;
    background: purple;
}

#proj-3 {
    grid-area: 3 / 2 / 4 / 3;
    background: magenta;
}

#proj-4 {
    grid-area: 4 / 1 / 5 / 2;
    background: yellowgreen;    
}

#proj-5 {
    grid-area: 4 / 2 / 5 / 3;
    background: cadetblue;
}

#proj-6 {
    grid-area: 4 / 3 / 5 / 4;
    background: goldenrod;
}

#proj-7 {
    grid-area: 5 / 1 / 6 / 2;
    background: lightsalmon;
    
}

.display-none {
    display: none;
}

.nav-elements {
    margin: 0;
    padding: 0;
    transform-origin: top;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;    
}

.nav-elements#about-me-button {
    grid-area: 6 / 2 / 7 / 3;

}

.nav-elements#contact-form-button {
    grid-area: 5 / 3 / 6 / 4;
}

.nav-elements#socials-button {
    grid-area: 5 / 2 / 6 / 3;
}

.project-cards {
    grid-area: 1 / 1 / 6 / 4;
}

#about-me-header {
    grid-area: 4 / 2 / 5 / 3;
    transform: translateY(1000px);
}

#about-me-article {
    grid-area: 5 / 1 / 7 / 4;
    transform: translateY(1000px);
}

#contact-form {
    grid-area: 5 / 1 / 7 / 4;
    /* text-align: center; */
}

fieldset#fs-frm-inputs {
    display: grid;
    grid-template: repeat(2, 1.5em) 1fr 1fr / 1fr 2fr;
    margin: 0 auto;
    height: calc((1.9*(var(--tile))));
    padding: 0 5%;
}

/* #full-name, #email-address, #message {
    display: inline-block;
    margin: 0 auto;
    width: 90%;
} */

#message {
    grid-area: 3 / 2 / 5 / 3;
}


/* -------------------------------------------- */
        /* About Me Moves */
/* -------------------------------------------- */

.translate-nav-about {
    transform: translateY(calc(-3*(var(--tile))));    
}

.translate-proj-1-about {
    transform: translateY(0);
}

.translate-proj-2-about {
    transform: translateY(calc(-1*(var(--tile))));
}

.translate-proj-3-about {
    transform: translateY(calc(-2*(var(--tile))));    
}

.translate-proj-4-about {
    transform: translateY(calc(-1*(var(--tile))));
}

.translate-proj-5-about {
    transform: translateY(calc(-1*(var(--tile))));
}

.translate-proj-6-about {
    transform: translateY(calc(-2*(var(--tile))));    
}

.translate-proj-7-about {
    transform: translateY(calc(-1*(var(--tile))));
}


/* -------------------------------------------- */
        /* Contact Form Moves */
/* -------------------------------------------- */

.translate-nav-contact {
    transform: translateY(calc(-2*(var(--tile))));    
}

.translate-proj-1-contact {
    transform: translateY(0);
}

.translate-proj-2-contact {
    transform: translateY(0);
}

.translate-proj-3-contact {
    transform: translateY(calc(-2*(var(--tile))));    
}

.translate-proj-4-contact {
    transform: translateY(calc(-1*(var(--tile))));
}

.translate-proj-5-contact {
    transform: translateY(calc(-1*(var(--tile))));
}

.translate-proj-6-contact {
    transform: translateY(calc(-1*(var(--tile))));    
}

.translate-proj-7-contact {
    transform: translateY(calc(-1*(var(--tile))));
}
